{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세종냠냠</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">

</head>
<body>
    <section class="conA">
        <div class="container">
            <h1>세종
                <br>
                냠냠</h1>
            <p>지금 가장 먹고싶은 세종대 맛집은?</p>
            <a href="/vote/">맞춤 추천 받기</a>
        </div>
    </section>
</body>
</html>